<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mote.ordi" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RodiMote</name>
    <description>
       	Control remoto para rodi.
    </description>
    <author email="bauerpy@gmail.com" href="https://www.linkedin.com/in/bauerpy">
        Juan Bauer
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
